version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk21
    user: root
    ports:
      - "8088:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - microservices-net
      -
  # Инфраструктура: Брокер сообщений
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Инфраструктура: Трассировка
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  # Инфраструктура: Метрики
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - microservices-net

  grafana:
    image: grafana/grafana:11.2.0
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - microservices-net

  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=tournaments
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - microservices-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Микросервисы
  analytics-service:
    build: ./analytics-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  notification-service:
    build: ./notification-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8083
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  board-game-tournaments-schedule-service:
    build: ./board-game-tournaments-schedule-service
    ports:
      - "8082:8082"
      - "9091:9090"
    environment:
      - GRPC_SERVER_PORT=9090
      - SERVER_PORT=8082
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  board-game-tournaments-gateway:
    build: ./board-game-tournaments-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - GRPC_CLIENT_SCHEDULE_SERVICE_ADDRESS=static://board-game-tournaments-schedule-service:9090
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/tournaments
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      rabbitmq:
        condition: service_healthy
      board-game-tournaments-schedule-service:
        condition: service_started
      postgres:
        condition: service_healthy
    networks:
      - microservices-net

volumes:
  postgres_data:
  rabbitmq_data:
  prometheus_data:
  grafana_data:
  jenkins_home:

networks:
  microservices-net:
    driver: bridge
